.menu {
    padding: 4.5rem 3rem;
    justify-content: space-between;

    @media (min-width: $xlg) {
        width: 25rem;
    }

    &__profile {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;

        div {
            width: 100%;
            max-width: 140px;
        }
    }

    &__name {
        font-size: 2rem;
    }

    &__divider {
        width: 100%;
        height: 1px;
        border: none;
        background-color: $bgBigDark;
        margin: $outerPad 0;
    }

    &__link {
        display: flex;
        padding: 1rem;
        align-items: center;
        gap: 2rem;
        margin: 1.5rem 0;
        color: $interfaceDark;
        border-radius: 7px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $bgDark;
        }

        &--active {
            background-color: $primary;
            color: $bgLight;

            &:hover {
                background-color: $primaryDark;
            }

            .menu__itemIcon {
                color: $bgLight;
            }
        }
    }

    &__itemIcon {
        color: $primaryDark;
    }
}