.textfield {
    &__container {
        position: relative;
    }

    &__label {
        position: relative;
        z-index: 2;
        width: fit-content;
        padding: 0 0.5rem;
        margin-top: 2rem;
        color: $primaryDark;
        font-weight: 600;
        transform-origin: left center;
        transform: translate(1.4rem, 50%) scale(0.75);
        background-color: $bgLight;
    }

    &#{&} {
        margin: 1.5rem auto;
        width: 100%;
        font-family: $poppins;

        &.textfield--time {
            height: 5rem;
            border: 1px $bgDark solid;
            border-radius: 7px;
            padding-left: 1.5rem;
            margin-top: 0;

            &:focus-within {
                background-color: rgba($primary, 0.05);
                border-width: 2px;
                border-color: $primary;

                input {
                    background: none;
                }
            }

            &:hover {
                border-color: $primary;
            }

            input {
                height: 5rem;
            }

            .MuiInput-underline::before, .MuiInput-underline::after {
                display: none;
            }
        }

        label, input {
            font-size: 1.4rem;
        }

        label {
            transform: translate(1.4rem, 1.6rem);
        }

        .MuiInputLabel-shrink {
            transform: translate(1.4rem, -0.6rem) scale(0.75);
        }

        .Mui-focused {
            color: $primaryDark;

            fieldset {
                border-color: $primary;
            }

            input {
                color: $interfaceDark;
                background-color: rgba($primary, 0.05);
            }
        }

        .MuiFormLabel-filled {
            color: $primaryDark;
        }

        .MuiFormLabel-filled + div fieldset {
            border-color: $primary;
        }

        input {
            box-sizing: border-box;
            height: 4.5rem;
        }

        fieldset {
            height: 5rem;
            border-color: $bgDark;
            border-radius: 7px;
        }

        div:hover fieldset {
            border-color: $primary;
        }

        span {
            font-size: 1rem;
        }

        + .textfield__iconEnd {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}