$primary: #9E51BF;
$primaryDark: #7E3A8B;
$secondary: #FF777B;
$secondaryDark: #E26468;

$success: #47D18F;
$error: #CD3737;
$warning: #F59C57;

$interfaceDark: #44223C;
$interfaceMed: #625059;
$interfaceLight: #B4B1B2;
$bgDark: #F4F1F3;
$bgMed: #F8F7F8;
$bgLight: #FFFFFF;
$bgBigDark: #DDD5DB;

$outerPad: 3rem;

.color-error.color-error {
    color: $error;
}