$primary: #A65290;
$primaryDark: #752462;
$secondary: #FEBE9A;
$secondaryDark: #F6A06F;

$success: #47D18F;
$error: #CD3737;
$warning: #FEE384;

$interfaceDark: #44223C;
$interfaceMed: #625059;
$interfaceLight: #7E7278;
$bgDark: #F4F1F3;
$bgMed: #F1EEF0;
$bgLight: #FCF8FB;

$outerPad: 3rem;

.color-error.color-error {
    color: $error;
}