.dashboard__asideSection {
    display: none;

    div.MuiToolbar-root {
        display: none;
    }

    @media (min-width: $lg) {
        display: block;
    }

    div:last-child {
        margin-bottom: 0;
    }
}

.dashboard {
    overflow-y: hidden;
    min-height: 100vh;

    > * {
        max-width: 1400px;
    }

    @media (min-width: $lg) {
        display: flex;
        gap: $outerPad;
    }

    @media (min-width: $xlg) {
        padding-left: 25rem + $outerPad;
    }

    .MuiPickersStaticWrapper-staticWrapperRoot {
        border-radius: 8px;

        .MuiTypography-body1.MuiTypography-alignCenter {
            font-family: $josefin;
            font-size: 2rem;
            color: $interfaceDark;
            text-transform: capitalize;
        }

        .MuiPickersCalendarHeader-dayLabel {
            font-family: $josefin;
            font-size: 1.4rem;
            color: $primary;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}