.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: $primary;
    background-image: url('../assets/log_bg.png');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.4rem;
    overflow-y: hidden;

    @media (min-width: $md) {
        flex-direction: row;
        background-size: contain;
        background-position-x: left;
    }

    &__form {
        width: 100vw;
        padding: $outerPad;
        background-color: $bgLight;
        border-radius: 20px 20px 0 0;
        animation-name: slideInFromBottom, fadeIn;
        animation-timing-function: ease-out;
        animation-duration: 0.5s;

        &#{&} > * {
            margin-left: auto;
            margin-right: auto;
            max-width: 450px;
        }

        > .textfield {
            display: flex;
        }

        @media (min-width: $md) {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh; 
            padding: 3rem 6rem;
            border-radius: 0;

            .textfield__container {
                width: 100%;
            }
        }
    }

    div.log__logo {
        width: 100%;
        min-height: 110px;
        flex: 1 1 auto;
        animation-name: fadeIn;
        animation-timing-function: ease-out;
        animation-duration: 0.5s;

        img {
            max-width: 17rem;
        }

        &--login {
            @media (min-width: $md) {
                max-width: 450px;
                height: 100vh;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 4rem;
            }

            @media (min-width: $lg) {
                max-width: unset;
                width: 50%;
            }
        }
    }

    &__title, &__navigate {
        color: $primaryDark;
        text-align: center;
        margin: $outerPad auto;
    }

    &__title {
        @media (min-width: $md) {
            font-size: 3.5rem;
            margin-bottom: 6rem;
        }
    }

    &__navigate {
        display: block;
        margin-bottom: 0;

        @media (min-width: $md) {
            position: absolute;
            bottom: 4rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__forgotPassword {
        display: block;
        margin-left: auto;
        margin-bottom: 5rem;
        color: $primaryDark;
        text-align: end;
        cursor: pointer;
    }

    &__terms {
        width: fit-content;
    }

    .btn {
        margin: $outerPad auto;
    }
}

.formStep {
    width: 100%;
    min-height: 100vh;
    padding: 10rem $outerPad;
    background-color: $bgLight;
    overflow-x: hidden;

    &__title {
        color: $primaryDark;
    }

    &__text {
        color: $interfaceDark;
        margin: $outerPad auto;
    }

    &__wrapper {
        animation-name: slideInFromBottom, fadeIn;
        animation-timing-function: ease-out;
        animation-duration: 0.5s;

        @media (min-width: $md) {
            max-width: 550px;
            margin: 0 auto;
        }
    }

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $outerPad;
        height: 4.4rem;
        box-sizing: content-box;
        animation-name: fadeIn;
        animation-timing-function: ease-out;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
    }

    &__label {
        margin-top: 4rem;
    }

    .btn {
        margin-top: 5rem;
    }
}

button.formStep__back {
    position: absolute;
    color: $primary;
    left: $outerPad;
}