.color-error.color-error {
  color: #CD3737;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button, a {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: inherit;
}

h1, .h1 {
  font-size: 3.6rem;
  font-family: "Josefin Sans", sans-serif;
}

h2, .h2 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
}

p, .body, p.body, button.body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
}

.underline {
  position: relative;
  cursor: pointer;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid;
  bottom: 0;
  right: 0;
}

.btn.btn {
  display: block;
  width: 100%;
  max-width: 250px;
  min-height: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  text-transform: initial;
  text-align: center;
  line-height: 3rem;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.btn.btn--primary {
  background-color: #9E51BF;
}

.btn.btn--primary span {
  color: #FCF8FB;
}

.btn.btn--primary:hover {
  background-color: #7E3A8B;
}

.btn.btn--secondary {
  background-color: #FF777B;
  color: #FFFFFF;
}

.btn.btn--secondary:hover {
  background-color: #E26468;
}

.btn.btn--secondary .MuiButton-label {
  color: #FFFFFF;
}

.btn.btn--group {
  max-width: none;
  padding: 0;
}

.btn.btn--rounded {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 3.5rem;
}

.btn.btn--addTask {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 15px -5px #9e51bf;
          box-shadow: 0px 0px 15px -5px #9e51bf;
}

.btn.btn--addTask:hover {
  -webkit-box-shadow: 0px 0px 15px -5px #9e51bf;
          box-shadow: 0px 0px 15px -5px #9e51bf;
}

@media (min-width: 768px) {
  .btn.btn--addTask {
    position: static;
    width: 100%;
    height: 4.5rem;
  }
}

.btn.btn--schedule {
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 30px;
  min-height: 30px;
  padding: 0;
}

.btn.btn--schedule:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn--noBg {
  background: none;
}

.btn.btn--noBg:hover {
  background: #F4F1F3;
}

.btn.btn--noBg .MuiButton-label {
  color: #44223C;
}

.btn__grouped {
  width: 33%;
  height: 4rem;
}

.btn__grouped--active .MuiButton-label {
  font-weight: 600;
}

.btn__icon {
  margin-right: 2rem;
}

.btn__text {
  display: none;
}

@media (min-width: 768px) {
  .btn__text {
    display: inline;
  }
}

.textfield__container {
  position: relative;
}

.textfield__wrapper {
  position: relative;
  margin: 2.5rem 0;
}

.textfield__label {
  position: relative;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin-top: 2rem;
  color: #7E3A8B;
  font-weight: 600;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translate(1.4rem, 50%) scale(0.75);
          transform: translate(1.4rem, 50%) scale(0.75);
  background-color: #FFFFFF;
}

.textfield.textfield {
  margin: 1.5rem auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.textfield.textfield.textfield--time {
  height: 5rem;
  border: 1px #9E51BF solid;
  border-radius: 7px;
  padding-left: 1.5rem;
  margin-top: 0;
}

.textfield.textfield.textfield--time:focus-within {
  background-color: rgba(158, 81, 191, 0.05);
  border-width: 2px;
  border-color: #9E51BF;
}

.textfield.textfield.textfield--time:focus-within input {
  background: none;
}

.textfield.textfield.textfield--time:hover {
  border-color: #9E51BF;
}

.textfield.textfield.textfield--time input {
  height: 5rem;
}

.textfield.textfield.textfield--time .MuiInput-underline::before, .textfield.textfield.textfield--time .MuiInput-underline::after {
  display: none;
}

.textfield.textfield label, .textfield.textfield input {
  font-size: 1.4rem;
}

.textfield.textfield label {
  -webkit-transform: translate(1.4rem, 1.6rem);
          transform: translate(1.4rem, 1.6rem);
}

.textfield.textfield .MuiInputLabel-shrink {
  -webkit-transform: translate(1.4rem, -0.6rem) scale(0.75);
          transform: translate(1.4rem, -0.6rem) scale(0.75);
}

.textfield.textfield .Mui-focused {
  color: #7E3A8B;
}

.textfield.textfield .Mui-focused fieldset {
  border-color: #9E51BF;
}

.textfield.textfield .Mui-focused input {
  color: #44223C;
  background-color: rgba(158, 81, 191, 0.05);
}

.textfield.textfield .MuiFormLabel-filled {
  color: #7E3A8B;
}

.textfield.textfield .MuiFormLabel-filled + div fieldset {
  border-color: #9E51BF;
}

.textfield.textfield input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4.5rem;
}

.textfield.textfield fieldset {
  height: 5rem;
  border-color: #F4F1F3;
  border-radius: 7px;
}

.textfield.textfield div:hover fieldset {
  border-color: #9E51BF;
}

.textfield.textfield span {
  font-size: 1rem;
}

.textfield.textfield + .textfield__iconEnd {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.textfield.textfield--number {
  margin: 0;
}

button.textfield__numberBtn {
  position: absolute;
  top: 0;
}

button.textfield__less {
  left: 1rem;
}

button.textfield__more {
  right: 1rem;
}

.checkbox__label {
  vertical-align: middle;
  color: #7E3A8B;
}

.checkbox.checkbox svg {
  fill: #9E51BF;
}

.menu {
  padding: 4.5rem 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1280px) {
  .menu {
    width: 25rem;
  }
}

.menu__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__profile div {
  width: 100%;
  max-width: 140px;
}

.menu__name {
  font-size: 2rem;
}

.menu__divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #DDD5DB;
  margin: 3rem 0;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin: 1.5rem 0;
  color: #44223C;
  border-radius: 7px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.menu__link:hover {
  background-color: #F4F1F3;
}

.menu__link--active {
  background-color: #9E51BF;
  color: #FFFFFF;
}

.menu__link--active:hover {
  background-color: #7E3A8B;
}

.menu__link--active .menu__itemIcon {
  color: #FFFFFF;
}

.menu__itemIcon {
  color: #7E3A8B;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6rem;
  padding-right: 3rem;
}

@media (min-width: 1280px) {
  .nav {
    display: none;
  }
}

div .taskCreation {
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  border-radius: 20px;
}

div .taskCreation__banner {
  position: relative;
  border-radius: 16px;
  padding: 2rem;
  padding-top: 7rem;
  background-color: #9E51BF;
}

div .taskCreation__title {
  width: 100%;
  color: #FFFFFF;
  padding: 0.4rem;
  padding-top: 0.8rem;
  border: none;
  background: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

div .taskCreation__title::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.6;
}

div .taskCreation__title:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.6;
}

div .taskCreation__title::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.6;
}

div .taskCreation__title::placeholder {
  color: #FFFFFF;
  opacity: 0.6;
}

div .taskCreation__title:focus {
  outline: none;
  background-color: rgba(126, 58, 139, 0.5);
}

div .taskCreation__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

div .taskCreation__label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #44223C;
  margin: 0 1rem;
}

div .taskCreation__content {
  padding: 2rem 0;
}

div .taskCreation__difficulty {
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.viewSelection {
  gap: 1rem;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  max-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.scheduleControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .scheduleControls {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.tooltip__section {
  padding: 1rem 2rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.tooltip__section > *:first-child {
  margin-right: 20px;
}

.tooltip__section > div:last-child {
  width: 100%;
}

.tooltip__section:last-child {
  margin-bottom: 2rem;
}

.tooltip__square {
  width: 23px;
  height: 20px;
  border-radius: 5px;
}

.tooltip__title, .tooltip__subtitle {
  margin: 0;
}

.tooltip__subtitle {
  position: relative;
  bottom: 3px;
  color: #44223C;
  font-size: 1.6rem;
}

.tooltip__text {
  margin-left: 1.5rem;
  color: #B4B1B2;
}

.tooltip__date {
  color: #625059;
  margin: 0;
}

.card {
  margin: 2rem 0;
  padding: 2rem;
}

.card__title {
  color: #9E51BF;
}

.card__link {
  color: #DDD5DB;
}

.card__link:hover {
  color: #B4B1B2;
}

.card__header {
  margin-bottom: 2rem;
}

.card__body {
  margin-bottom: 1.5rem;
}

.card__body + div:not(.card__body) {
  height: 270px !important;
}

.card__body + div:not(.card__body) g:nth-of-type(1) path {
  fill: #67C6DA;
}

.card__body + div:not(.card__body) g:nth-of-type(2) path {
  fill: #8D6BD7;
}

.card__body + div:not(.card__body) g:nth-of-type(3) path {
  fill: #FF777B;
}

.MuiFormLabel-root.MuiFormLabel-root, .MuiInputBase-root.MuiInputBase-root {
  font-family: inherit;
}

.MuiSvgIcon-root.MuiSvgIcon-root {
  font-size: 2rem;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}

.MuiSnackbar-root.MuiSnackbar-root {
  left: 2rem;
  right: 2rem;
  bottom: 10rem;
}

@media (min-width: 600px) {
  .MuiSnackbar-root.MuiSnackbar-root {
    left: 50%;
    right: unset;
    min-width: 400px;
    max-width: 550px;
  }
}

.MuiSnackbar-root .MuiAlert-root {
  width: 100%;
}

.MuiSnackbar-root .MuiAlert-standardError {
  background-color: #FFFFFF;
  border: 2px #CD3737 solid;
  border-radius: 7px;
}

.MuiSnackbar-root .MuiAlert-standardError .MuiAlert-icon {
  color: #CD3737;
}

.MuiSnackbar-root .MuiAlert-standardSuccess {
  background-color: #FFFFFF;
  border: 2px #47D18F solid;
  border-radius: 7px;
}

.MuiSnackbar-root .MuiAlert-standardSuccess .MuiAlert-icon {
  color: #47D18F;
}

.MuiSnackbar-root .MuiAlert-message {
  font-size: 1.4rem;
  color: inherit;
}

.MuiTypography-h6.MuiTypography-h6 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #7E3A8B;
}

div.MuiToolbar-root, div.MuiPickersClock-pin, div.MuiPickersClockPointer-pointer, div.MuiPickersClockPointer-thumb {
  background-color: #9E51BF;
  border-color: #9E51BF;
}

.MuiFormHelperText-root.MuiFormHelperText-root, .MuiPickersClockNumber-clockNumber.MuiPickersClockNumber-clockNumber {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.Mui-error.Mui-error {
  color: #CD3737;
}

span.MuiButton-label {
  font-size: 1.4rem;
  color: #7E3A8B;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.MuiSlider-markLabel.MuiSlider-markLabel {
  -webkit-transform: none;
          transform: none;
}

.MuiSlider-markLabel.MuiSlider-markLabel[data-index="1"] {
  right: 0;
  left: unset !important;
}

.scheduleControls + div {
  position: relative;
  border-radius: 7px;
  margin-top: 8.4rem;
}

.scheduleControls + div td.MuiTableCell-root {
  border-color: #F4F1F3;
}

@media (min-width: 1024px) {
  .scheduleControls + div {
    margin-top: 3rem;
  }
}

.scheduleControls + div > div:not(.MuiToolbar-root) {
  background-color: #FFFFFF;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .scheduleControls + div > div:not(.MuiToolbar-root) {
    width: 600px;
    width: calc(100vw - 42rem);
  }
}

@media (min-width: 1280px) {
  .scheduleControls + div > div:not(.MuiToolbar-root) {
    width: 600px;
    width: calc(100vw - 67rem);
  }
}

@media (min-width: 2000px) {
  .scheduleControls + div > div:not(.MuiToolbar-root) {
    width: 100%;
  }
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:first-child {
  border: none;
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:last-child td {
  padding: 2rem 1rem;
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:last-child td > div p, .scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:last-child td > div div {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: #DDD5DB;
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:last-child td > div p, .scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:last-child td > div div {
    font-size: 1.8rem;
  }
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:last-child td > div p[class*=" "], .scheduleControls + div > div:not(.MuiToolbar-root) > div div:first-child > div div:last-child td > div div[class*=" "] {
  color: #9E51BF;
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:last-child > div > div:first-child span {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #B4B1B2;
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:last-child > div > div:last-child > div div {
  color: inherit;
  font-size: 1.6rem;
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:last-child > div > div:last-child > div > div > div > div > div > div:first-child {
  font-family: "Josefin Sans", sans-serif;
}

.scheduleControls + div > div:not(.MuiToolbar-root) > div div:last-child > div > div:last-child > div > div > div > div > div > div:first-child > div:first-child {
  font-family: "Josefin Sans", sans-serif;
}

.scheduleControls + div .MuiToolbar-root {
  position: absolute;
  width: 100%;
  top: -2rem;
  min-height: unset;
  height: 4.4rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: none;
  border: none;
}

@media (min-width: 1024px) {
  .scheduleControls + div .MuiToolbar-root {
    display: none;
  }
}

.scheduleControls + div .MuiToolbar-root div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheduleControls + div .MuiToolbar-root div:first-child button:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.scheduleControls + div .MuiToolbar-root div:first-child button:nth-child(3) {
  display: block;
  pointer-events: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.scheduleControls + div .MuiToolbar-root div:first-child button:nth-child(3) .MuiButton-label {
  position: relative;
  top: 0.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  color: #9E51BF;
  text-transform: uppercase;
  font-weight: 700;
}

.scheduleControls + div .MuiToolbar-root div:first-child button:last-child {
  display: none;
}

.MuiPaper-rounded.MuiPaper-rounded {
  border-radius: 8px;
}

.MuiPopover-root > .MuiPopover-paper > div:last-child > div:nth-child(1), .MuiPopover-root > .MuiPopover-paper > div:last-child > div:nth-child(2) {
  display: none;
}

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  background-color: #9E51BF;
  background-image: url("../assets/log_bg.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.4rem;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .log {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-size: contain;
    background-position-x: left;
  }
}

.log__form {
  width: 100vw;
  padding: 3rem;
  background-color: #FFFFFF;
  border-radius: 20px 20px 0 0;
  -webkit-animation-name: slideInFromBottom, fadeIn;
          animation-name: slideInFromBottom, fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.log__form.log__form > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.log__form > .textfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .log__form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    padding: 3rem 6rem;
    border-radius: 0;
  }
  .log__form .textfield__container {
    width: 100%;
  }
}

.log div.log__logo {
  width: 100%;
  min-height: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.log div.log__logo img {
  max-width: 17rem;
}

@media (min-width: 768px) {
  .log div.log__logo--login {
    max-width: 450px;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 4rem;
  }
}

@media (min-width: 1024px) {
  .log div.log__logo--login {
    max-width: unset;
    width: 50%;
  }
}

.log__title, .log__navigate {
  color: #7E3A8B;
  text-align: center;
  margin: 3rem auto;
}

@media (min-width: 768px) {
  .log__title {
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }
}

.log__navigate {
  display: block;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .log__navigate {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.log__forgotPassword {
  display: block;
  margin-left: auto;
  margin-bottom: 5rem;
  color: #7E3A8B;
  text-align: end;
  cursor: pointer;
}

.log__terms {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.log .btn {
  margin: 3rem auto;
}

.formStep {
  width: 100%;
  min-height: 100vh;
  padding: 10rem 3rem;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.formStep__title {
  color: #7E3A8B;
}

.formStep__text {
  color: #44223C;
  margin: 3rem auto;
}

.formStep__wrapper {
  -webkit-animation-name: slideInFromBottom, fadeIn;
          animation-name: slideInFromBottom, fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@media (min-width: 768px) {
  .formStep__wrapper {
    max-width: 550px;
    margin: 0 auto;
  }
}

.formStep__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  height: 4.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.formStep__label {
  margin-top: 4rem;
}

.formStep .btn {
  margin-top: 5rem;
}

button.formStep__back {
  position: absolute;
  color: #9E51BF;
  left: 3rem;
}

.dashboard__asideSection {
  display: none;
}

.dashboard__asideSection div.MuiToolbar-root {
  display: none;
}

@media (min-width: 1024px) {
  .dashboard__asideSection {
    display: block;
  }
}

.dashboard__asideSection div:last-child {
  margin-bottom: 0;
}

.dashboard {
  overflow-y: hidden;
  min-height: 100vh;
}

.dashboard > * {
  max-width: 1400px;
}

@media (min-width: 1024px) {
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
  }
}

@media (min-width: 1280px) {
  .dashboard {
    padding-left: 28rem;
  }
}

.dashboard .MuiPickersStaticWrapper-staticWrapperRoot {
  border-radius: 8px;
}

.dashboard .MuiPickersStaticWrapper-staticWrapperRoot .MuiTypography-body1.MuiTypography-alignCenter {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: #44223C;
  text-transform: capitalize;
}

.dashboard .MuiPickersStaticWrapper-staticWrapperRoot .MuiPickersCalendarHeader-dayLabel {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #9E51BF;
  text-transform: uppercase;
  font-weight: 700;
}

.App {
  min-height: 100vh;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-spbt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  display: none;
}

main {
  padding: 3rem;
  background-color: #F4F1F3;
  min-height: calc(100vh - 6rem);
}

@media (min-width: 1280px) {
  main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */