$primary: #A65290;
$primaryDark: #752462;
$secondary: #FEBE9A;
$white: #FCF8FB;

@import './abstracts/color';
@import './abstracts/animations';
@import './base/reset';
@import './base/typography';
@import './components/btn';
@import './components/textfield';
@import './components/checkbox';
@import './components/lateralMenu';
@import './layouts/material-ui';
@import './pages/log';

.App {
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

main {
    padding: $outerPad;
    background-color: $bgDark;
    min-height: calc(100vh - 6rem);
}