@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button, a {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: inherit;
}

h1, .h1 {
  font-size: 3.6rem;
  font-family: "Josefin Sans", sans-serif;
}

h2, .h2 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
}

p, .body, p.body, button.body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
}

.underline {
  position: relative;
  cursor: pointer;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid;
  bottom: 0;
  right: 0;
}

.btn.btn {
  display: block;
  width: 100%;
  max-width: 250px;
  min-height: 40px;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  text-transform: initial;
  text-align: center;
  line-height: 3rem;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.btn.btn--primary {
  background-color: #A65290;
}

.btn.btn--primary span {
  color: #FCF8FB;
}

.btn.btn--primary:hover {
  background-color: #752462;
}

.btn.btn--secondary {
  background-color: #FEBE9A;
  color: #752462;
}

.btn.btn--secondary:hover {
  background-color: #F6A06F;
}

.textfield__container {
  position: relative;
}

.textfield__label {
  position: relative;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin-top: 2rem;
  color: #752462;
  font-weight: 600;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translate(1.4rem, 50%) scale(0.75);
          transform: translate(1.4rem, 50%) scale(0.75);
  background-color: #FCF8FB;
}

.textfield.textfield {
  margin: 1.5rem auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.textfield.textfield.textfield--time {
  height: 5rem;
  border: 1px #D1C7CF solid;
  border-radius: 7px;
  padding-left: 1.5rem;
  margin-top: 0;
}

.textfield.textfield.textfield--time:focus-within {
  background-color: rgba(166, 82, 144, 0.05);
  border-width: 2px;
  border-color: #A65290;
}

.textfield.textfield.textfield--time:focus-within input {
  background: none;
}

.textfield.textfield.textfield--time:hover {
  border-color: #A65290;
}

.textfield.textfield.textfield--time input {
  height: 5rem;
}

.textfield.textfield.textfield--time .MuiInput-underline::before, .textfield.textfield.textfield--time .MuiInput-underline::after {
  display: none;
}

.textfield.textfield label, .textfield.textfield input {
  font-size: 1.4rem;
}

.textfield.textfield label {
  -webkit-transform: translate(1.4rem, 1.6rem);
          transform: translate(1.4rem, 1.6rem);
}

.textfield.textfield .MuiInputLabel-shrink {
  -webkit-transform: translate(1.4rem, -0.6rem) scale(0.75);
          transform: translate(1.4rem, -0.6rem) scale(0.75);
}

.textfield.textfield .Mui-focused {
  color: #752462;
}

.textfield.textfield .Mui-focused fieldset {
  border-color: #A65290;
}

.textfield.textfield .Mui-focused input {
  color: #44223C;
  background-color: rgba(166, 82, 144, 0.05);
}

.textfield.textfield .MuiFormLabel-filled {
  color: #752462;
}

.textfield.textfield .MuiFormLabel-filled + div fieldset {
  border-color: #A65290;
}

.textfield.textfield input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4.5rem;
}

.textfield.textfield fieldset {
  height: 5rem;
  border-color: #D1C7CF;
  border-radius: 7px;
}

.textfield.textfield div:hover fieldset {
  border-color: #A65290;
}

.textfield.textfield span {
  font-size: 1rem;
}

.textfield.textfield + .textfield__iconEnd {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox__label {
  vertical-align: middle;
  color: #752462;
}

.checkbox.checkbox svg {
  fill: #A65290;
}

.MuiFormLabel-root.MuiFormLabel-root, .MuiInputBase-root.MuiInputBase-root {
  font-family: inherit;
}

.MuiSvgIcon-root.MuiSvgIcon-root {
  font-size: 2rem;
}

.MuiSnackbar-root.MuiSnackbar-root {
  left: 2rem;
  right: 2rem;
  bottom: 10rem;
}

.MuiSnackbar-root .MuiAlert-root {
  width: 100%;
}

.MuiSnackbar-root .MuiAlert-standardError {
  background-color: #FCF8FB;
  border: 2px #CD3737 solid;
  border-radius: 7px;
}

.MuiSnackbar-root .MuiAlert-standardError .MuiAlert-icon {
  color: #CD3737;
}

.MuiSnackbar-root .MuiAlert-message {
  font-size: 1.4rem;
  color: inherit;
}

.MuiTypography-h6.MuiTypography-h6 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #752462;
}

div.MuiToolbar-root, div.MuiPickersClock-pin, div.MuiPickersClockPointer-pointer, div.MuiPickersClockPointer-thumb {
  background-color: #A65290;
  border-color: #A65290;
}

.MuiFormHelperText-root.MuiFormHelperText-root, .MuiPickersClockNumber-clockNumber.MuiPickersClockNumber-clockNumber {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.Mui-error.Mui-error {
  color: #CD3737;
}

span.MuiButton-label {
  font-size: 1.4rem;
  color: #752462;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  background-color: #A65290;
  background-image: url("../assets/log-bg.svg");
  background-position-x: -20px;
  background-position-y: -50px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.4rem;
  overflow-y: hidden;
}

.log__form {
  width: 100vw;
  padding: 2rem;
  background-color: #FCF8FB;
  border-radius: 20px 20px 0 0;
  -webkit-animation-name: slideInFromBottom, fadeIn;
          animation-name: slideInFromBottom, fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.log__form.log__form > * {
  margin-left: auto;
  margin-right: auto;
}

.log__logo {
  width: 100%;
  min-height: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.log__logo img {
  max-width: 17rem;
}

.log__title, .log__navigate {
  color: #752462;
  text-align: center;
  margin: 2rem auto;
}

.log__navigate {
  display: block;
  margin-bottom: 0;
}

.log__forgotPassword {
  display: block;
  margin-left: auto;
  margin-bottom: 5rem;
  color: #752462;
  text-align: end;
  cursor: pointer;
}

.log__terms {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.log .btn {
  margin: 2rem auto;
}

.formStep {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10rem 2rem;
  background-color: #FCF8FB;
}

.formStep__title {
  color: #752462;
}

.formStep__text {
  color: #44223C;
  margin: 2rem auto;
}

.formStep__wrapper {
  -webkit-animation-name: slideInFromBottom, fadeIn;
          animation-name: slideInFromBottom, fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.formStep__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  height: 4.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.formStep .btn {
  margin-top: 5rem;
}

button.formStep__back {
  position: absolute;
  color: #A65290;
  left: 2rem;
}

.App {
  min-height: 100vh;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */