$primary: #A65290;
$primaryDark: #752462;
$secondary: #FEBE9A;
$white: #FCF8FB;

@import './abstracts/color';
@import './abstracts/animations';
@import './base/reset';
@import './base/typography';
@import './base/breakpoints';
@import './components/btn';
@import './components/textfield';
@import './components/checkbox';
@import './components/lateralMenu';
@import './components/nav';
@import './components/taskCreation';
@import './components/schedule';
@import './components/card';
@import './layouts/material-ui';
@import './pages/log';
@import './pages/dashboard';

.App {
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-spbt {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

main {
    padding: $outerPad;
    background-color: $bgDark;
    min-height: calc(100vh - 6rem);

    @media (min-width: $xlg) {
        justify-content: center;
    }
}