.color-error.color-error {
  color: #CD3737;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button, a {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: inherit;
}

h1, .h1 {
  font-size: 3.6rem;
  font-family: "Josefin Sans", sans-serif;
}

h2, .h2 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
}

p, .body, p.body, button.body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
}

.underline {
  position: relative;
  cursor: pointer;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid;
  bottom: 0;
  right: 0;
}

.btn.btn {
  display: block;
  width: 100%;
  max-width: 250px;
  min-height: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  text-transform: initial;
  text-align: center;
  line-height: 3rem;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.btn.btn--primary {
  background-color: #9E51BF;
}

.btn.btn--primary span {
  color: #FCF8FB;
}

.btn.btn--primary:hover {
  background-color: #7E3A8B;
}

.btn.btn--secondary {
  background-color: #FF777B;
  color: #ffffff;
}

.btn.btn--secondary:hover {
  background-color: #e26468;
}

.btn.btn--secondary .MuiButton-label {
  color: #ffffff;
}

.btn.btn--group {
  max-width: none;
  padding: 0;
}

.btn.btn--rounded {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 3.5rem;
}

.btn.btn--addTask {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}

.btn.btn--schedule {
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 30px;
  min-height: 30px;
  padding: 0;
}

.btn.btn--schedule:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn--noBg {
  background: none;
}

.btn.btn--noBg:hover {
  background: #F4F1F3;
}

.btn.btn--noBg .MuiButton-label {
  color: #44223C;
}

.btn__grouped {
  width: 33%;
  height: 4rem;
}

.btn__grouped--active .MuiButton-label {
  font-weight: 600;
}

.btn__icon {
  margin-right: 2rem;
}

.textfield__container {
  position: relative;
}

.textfield__wrapper {
  position: relative;
  margin: 2.5rem 0;
}

.textfield__label {
  position: relative;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  margin-top: 2rem;
  color: #7E3A8B;
  font-weight: 600;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translate(1.4rem, 50%) scale(0.75);
          transform: translate(1.4rem, 50%) scale(0.75);
  background-color: #ffffff;
}

.textfield.textfield {
  margin: 1.5rem auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.textfield.textfield.textfield--time {
  height: 5rem;
  border: 1px #9E51BF solid;
  border-radius: 7px;
  padding-left: 1.5rem;
  margin-top: 0;
}

.textfield.textfield.textfield--time:focus-within {
  background-color: rgba(158, 81, 191, 0.05);
  border-width: 2px;
  border-color: #9E51BF;
}

.textfield.textfield.textfield--time:focus-within input {
  background: none;
}

.textfield.textfield.textfield--time:hover {
  border-color: #9E51BF;
}

.textfield.textfield.textfield--time input {
  height: 5rem;
}

.textfield.textfield.textfield--time .MuiInput-underline::before, .textfield.textfield.textfield--time .MuiInput-underline::after {
  display: none;
}

.textfield.textfield label, .textfield.textfield input {
  font-size: 1.4rem;
}

.textfield.textfield label {
  -webkit-transform: translate(1.4rem, 1.6rem);
          transform: translate(1.4rem, 1.6rem);
}

.textfield.textfield .MuiInputLabel-shrink {
  -webkit-transform: translate(1.4rem, -0.6rem) scale(0.75);
          transform: translate(1.4rem, -0.6rem) scale(0.75);
}

.textfield.textfield .Mui-focused {
  color: #7E3A8B;
}

.textfield.textfield .Mui-focused fieldset {
  border-color: #9E51BF;
}

.textfield.textfield .Mui-focused input {
  color: #44223C;
  background-color: rgba(158, 81, 191, 0.05);
}

.textfield.textfield .MuiFormLabel-filled {
  color: #7E3A8B;
}

.textfield.textfield .MuiFormLabel-filled + div fieldset {
  border-color: #9E51BF;
}

.textfield.textfield input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4.5rem;
}

.textfield.textfield fieldset {
  height: 5rem;
  border-color: #F4F1F3;
  border-radius: 7px;
}

.textfield.textfield div:hover fieldset {
  border-color: #9E51BF;
}

.textfield.textfield span {
  font-size: 1rem;
}

.textfield.textfield + .textfield__iconEnd {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.textfield.textfield--number {
  margin: 0;
}

button.textfield__numberBtn {
  position: absolute;
  top: 0;
}

button.textfield__less {
  left: 1rem;
}

button.textfield__more {
  right: 1rem;
}

.checkbox__label {
  vertical-align: middle;
  color: #7E3A8B;
}

.checkbox.checkbox svg {
  fill: #9E51BF;
}

.menu {
  padding: 4.5rem 3rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6rem;
  padding-right: 3rem;
}

div .taskCreation {
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  border-radius: 20px;
}

div .taskCreation__banner {
  position: relative;
  border-radius: 16px;
  padding: 2rem;
  padding-top: 7rem;
  background-color: #9E51BF;
}

div .taskCreation__title {
  width: 100%;
  color: #ffffff;
  padding: 0.4rem;
  padding-top: 0.8rem;
  border: none;
  background: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

div .taskCreation__title::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.6;
}

div .taskCreation__title:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.6;
}

div .taskCreation__title::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.6;
}

div .taskCreation__title::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

div .taskCreation__title:focus {
  outline: none;
  background-color: rgba(126, 58, 139, 0.5);
}

div .taskCreation__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

div .taskCreation__label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #44223C;
  margin: 0 1rem;
}

div .taskCreation__content {
  padding: 2rem 0;
}

div .taskCreation__difficulty {
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.MuiFormLabel-root.MuiFormLabel-root, .MuiInputBase-root.MuiInputBase-root {
  font-family: inherit;
}

.MuiSvgIcon-root.MuiSvgIcon-root {
  font-size: 2rem;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}

.MuiSnackbar-root.MuiSnackbar-root {
  left: 2rem;
  right: 2rem;
  bottom: 10rem;
}

.MuiSnackbar-root .MuiAlert-root {
  width: 100%;
}

.MuiSnackbar-root .MuiAlert-standardError {
  background-color: #ffffff;
  border: 2px #CD3737 solid;
  border-radius: 7px;
}

.MuiSnackbar-root .MuiAlert-standardError .MuiAlert-icon {
  color: #CD3737;
}

.MuiSnackbar-root .MuiAlert-standardSuccess {
  background-color: #ffffff;
  border: 2px #47D18F solid;
  border-radius: 7px;
}

.MuiSnackbar-root .MuiAlert-standardSuccess .MuiAlert-icon {
  color: #47D18F;
}

.MuiSnackbar-root .MuiAlert-message {
  font-size: 1.4rem;
  color: inherit;
}

.MuiTypography-h6.MuiTypography-h6 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: #7E3A8B;
}

div.MuiToolbar-root, div.MuiPickersClock-pin, div.MuiPickersClockPointer-pointer, div.MuiPickersClockPointer-thumb {
  background-color: #9E51BF;
  border-color: #9E51BF;
}

.MuiFormHelperText-root.MuiFormHelperText-root, .MuiPickersClockNumber-clockNumber.MuiPickersClockNumber-clockNumber {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.Mui-error.Mui-error {
  color: #CD3737;
}

span.MuiButton-label {
  font-size: 1.4rem;
  color: #7E3A8B;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.MuiSlider-markLabel.MuiSlider-markLabel {
  -webkit-transform: none;
          transform: none;
}

.MuiSlider-markLabel.MuiSlider-markLabel[data-index="1"] {
  right: 0;
  left: unset !important;
}

div[class|="VerticalAppointment"] {
  color: inherit;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

div[class|="VerticalAppointment-title"] {
  font-family: "Josefin Sans", sans-serif;
}

div.Root-container-1 {
  position: relative;
  border-radius: 7px;
  margin-top: 8.4rem;
}

div.Root-container-1 > div:not(.MuiToolbar-root) {
  background-color: #ffffff;
  border-radius: 8px;
}

div.Root-container-1 span[class|="Label-text"] {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #7E7278;
}

div.Root-container-1 .MuiTableCell-root, div.Root-container-1 div[class*="makeStyles-leftPanel"] {
  border-color: #F4F1F3;
}

div.Root-container-1 div[class|="makeStyles-stickyElement"] {
  border: none;
}

div.Root-container-1 .MuiToolbar-root {
  position: absolute;
  width: 100%;
  top: -2rem;
  min-height: unset;
  height: 4.4rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: none;
  border: none;
}

div.Root-container-1 .MuiToolbar-root div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.Root-container-1 .MuiToolbar-root div:first-child .NavigationButton-button-4:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

div.Root-container-1 .MuiToolbar-root div:first-child .OpenButton-textButton-5 {
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

div.Root-container-1 .MuiToolbar-root div:first-child .OpenButton-textButton-5 .MuiButton-label {
  position: relative;
  top: 0.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  color: #9E51BF;
  text-transform: uppercase;
  font-weight: 700;
}

div.Root-container-1 .MuiToolbar-root div:first-child .OpenButton-iconButton-6 {
  display: none;
}

.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  display: none;
}

p[class|="Cell-dayOfWeek"] {
  text-transform: capitalize;
  font-size: 1.6rem;
}

@media (max-width: 836px) {
  .makeStyles-cell-43, .Cell-cell-21, .makeStyles-cell-49, .Cell-cell-27 {
    width: 100px;
  }
}

td.Cell-cell-21, td.Cell-cell-27 {
  padding: 2rem 1rem;
}

td.Cell-cell-21 p, td.Cell-cell-21 div, td.Cell-cell-27 p, td.Cell-cell-27 div {
  font-weight: 600;
  color: #DDD5DB;
}

td.Cell-cell-21 p.Cell-highlightedText-24, td.Cell-cell-21 p.Cell-highlightedText-30, td.Cell-cell-21 div.Cell-highlightedText-24, td.Cell-cell-21 div.Cell-highlightedText-30, td.Cell-cell-27 p.Cell-highlightedText-24, td.Cell-cell-27 p.Cell-highlightedText-30, td.Cell-cell-27 div.Cell-highlightedText-24, td.Cell-cell-27 div.Cell-highlightedText-30 {
  color: #9E51BF;
}

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  background-color: #9E51BF;
  background-image: url("../assets/log-bg.svg");
  background-position-x: -20px;
  background-position-y: -50px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.4rem;
  overflow-y: hidden;
}

.log__form {
  width: 100vw;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  -webkit-animation-name: slideInFromBottom, fadeIn;
          animation-name: slideInFromBottom, fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.log__form.log__form > * {
  margin-left: auto;
  margin-right: auto;
}

.log__logo {
  width: 100%;
  min-height: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.log__logo img {
  max-width: 17rem;
}

.log__title, .log__navigate {
  color: #7E3A8B;
  text-align: center;
  margin: 3rem auto;
}

.log__navigate {
  display: block;
  margin-bottom: 0;
}

.log__forgotPassword {
  display: block;
  margin-left: auto;
  margin-bottom: 5rem;
  color: #7E3A8B;
  text-align: end;
  cursor: pointer;
}

.log__terms {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.log .btn {
  margin: 3rem auto;
}

.formStep {
  width: 100%;
  min-height: 100vh;
  padding: 10rem 3rem;
  background-color: #ffffff;
  overflow-x: hidden;
}

.formStep__title {
  color: #7E3A8B;
}

.formStep__text {
  color: #44223C;
  margin: 3rem auto;
}

.formStep__wrapper {
  -webkit-animation-name: slideInFromBottom, fadeIn;
          animation-name: slideInFromBottom, fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.formStep__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  height: 4.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.formStep__label {
  margin-top: 4rem;
}

.formStep .btn {
  margin-top: 5rem;
}

button.formStep__back {
  position: absolute;
  color: #9E51BF;
  left: 3rem;
}

.App {
  min-height: 100vh;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden {
  display: none;
}

main {
  padding: 3rem;
  background-color: #F4F1F3;
  min-height: calc(100vh - 6rem);
}

main > * {
  max-width: 1400px;
}
/*# sourceMappingURL=main.css.map */