.MuiFormLabel-root.MuiFormLabel-root, .MuiInputBase-root.MuiInputBase-root {
    font-family: inherit;
}

.MuiSvgIcon-root.MuiSvgIcon-root {
    font-size: 2rem;
}

.MuiSnackbar-root{
    &#{&} {
        left: 2rem;
        right: 2rem;
        bottom: 10rem;
    }

    .MuiAlert {
        &-root {
            width: 100%;
        }

        &-standardError {
            background-color: $bgLight;
            border: 2px $error solid;
            border-radius: 7px;
            
            .MuiAlert-icon {
                color: $error;
            }
        }

        &-message {
            font-size: 1.4rem;
            color: inherit;
        }        
    }
}

.MuiTypography-h6.MuiTypography-h6 {
    font-size: 2rem;
    font-family: $josefin;
    color: $primaryDark;
}

div.MuiToolbar-root, div.MuiPickersClock-pin, div.MuiPickersClockPointer-pointer, div.MuiPickersClockPointer-thumb {
    background-color: $primary;
    border-color: $primary;
}

.MuiFormHelperText-root.MuiFormHelperText-root, .MuiPickersClockNumber-clockNumber.MuiPickersClockNumber-clockNumber {
    font-size: 1.4rem;
    font-family: $poppins;
}

.Mui-error.Mui-error {
    color: $error;
}

span.MuiButton-label {
    font-size: 1.4rem;
    color: $primaryDark;
    font-family: $poppins;
    font-weight: 400;
    text-transform: capitalize;
}