.MuiFormLabel-root.MuiFormLabel-root, .MuiInputBase-root.MuiInputBase-root {
    font-family: inherit;
}

.MuiSvgIcon-root.MuiSvgIcon-root {
    font-size: 2rem;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
    font-size: inherit;
}

.MuiSnackbar-root{
    &#{&} {
        left: 2rem;
        right: 2rem;
        bottom: 10rem;
    }

    .MuiAlert {
        &-root {
            width: 100%;
        }

        &-standardError {
            background-color: $bgLight;
            border: 2px $error solid;
            border-radius: 7px;
            
            .MuiAlert-icon {
                color: $error;
            }
        }

        &-standardSuccess {
            background-color: $bgLight;
            border: 2px $success solid;
            border-radius: 7px;
            
            .MuiAlert-icon {
                color: $success;
            }
        }

        &-message {
            font-size: 1.4rem;
            color: inherit;
        }        
    }
}

.MuiTypography-h6.MuiTypography-h6 {
    font-size: 2rem;
    font-family: $josefin;
    color: $primaryDark;
}

div.MuiToolbar-root, div.MuiPickersClock-pin, div.MuiPickersClockPointer-pointer, div.MuiPickersClockPointer-thumb {
    background-color: $primary;
    border-color: $primary;
}

.MuiFormHelperText-root.MuiFormHelperText-root, .MuiPickersClockNumber-clockNumber.MuiPickersClockNumber-clockNumber {
    font-size: 1.4rem;
    font-family: $poppins;
}

.Mui-error.Mui-error {
    color: $error;
}

span.MuiButton-label {
    font-size: 1.4rem;
    color: $primaryDark;
    font-family: $poppins;
    font-weight: 400;
    text-transform: capitalize;
}

.MuiSlider-markLabel.MuiSlider-markLabel {
    transform: none;

    &[data-index="1"] {
        right: 0;
        left: unset !important;
    }
}

div[class|="VerticalAppointment"] {
    color: inherit;
    font-family: $poppins;
    font-size: 1.6rem;
}

div[class|="VerticalAppointment-title"] {
    font-family: $josefin;
}

div.Root-container-1 {
    position: relative;
    border-radius: 7px;
    margin-top: 8.4rem;

    > div:not(.MuiToolbar-root) {
        background-color: $bgLight;
        border-radius: 8px;
    }

    span[class|="Label-text"] {
        font-size: 1.2rem;
        font-family: $poppins;
        color: $interfaceLight;
    }

    .MuiTableCell-root, div[class*="makeStyles-leftPanel"] {
        border-color: $bgDark;
    }

    div[class|="makeStyles-stickyElement"] {
        border: none;
    }

    .MuiToolbar-root {
        position: absolute;
        width: 100%;
        top: -2rem;
        min-height: unset;
        height: 4.4rem;
        transform: translateY(-100%);
        background: none;
        border: none;

        div:first-child {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .NavigationButton-button-4:nth-child(2) {
                order: 2;
            }

            .OpenButton- {
                &textButton-5 {
                    display: block;
                    order: 1;

                    .MuiButton-label {
                        position: relative;
                        top: 0.2rem;
                        font-family: $josefin;
                        font-size: 1.8rem;
                        color: $primary;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }

                &iconButton-6 {
                    display: none;
                }
            }
        }
    }
}

.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    display: none;
}

p[class|="Cell-dayOfWeek"] {
    text-transform: capitalize;
    font-size: 1.6rem;
}

div.makeStyles-leftPanel-5, .makeStyles-background-14.makeStyles-inlineFlex-13.makeStyles-ordinaryHeaderBorder-8, 
td.MuiTableCell-root.MuiTableCell-body.TickCell-cell-38, 
td.MuiTableCell-root.MuiTableCell-body.makeStyles-cell-43,
.makeStyles-flexRow-11.makeStyles-stickyElement-3.makeStyles-leftPanel-5.makeStyles-ordinaryLeftPanelBorder-6 {
}

.makeStyles-cell-43, .Cell-cell-21, .makeStyles-cell-49, .Cell-cell-27 {
    @media (max-width: 836px) {
        width: 100px;
    }
}

td.Cell-cell-21, td.Cell-cell-27 {
    padding: 2rem 1rem;

    p, div {
        font-weight: 600;
        color: $bgBigDark;

        &.Cell-highlightedText-24, &.Cell-highlightedText-30 {
            color: $primary;
        }
    }
}